Repository shimahi/honox_practice: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint-and-format, test

lefthook.yml:

pre-commit:
  commands:
    typecheck:
      glob: '*.{ts,tsx}'
      run: bun type
    lint-and-format:
      glob: '*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}'
      run: bun check --no-errors-on-unmatched --files-ignore-unknown=true {staged_files} && git update-index --again
    test:
      glob: 'server/**/*.{ts,tsx}'
      run: bun run test

fix
  bun.lockb
  package.json
Due: lint-and-format

Update README
  README.md
Due: none

fix
  bun.lockb
Due: none

Update Hono
  .github/labeler.yaml
  .github/workflows/pull-request-labeler.workflow.yml
  bun.lockb
  package.json
Due: lint-and-format

Move server file to app
  .github/labeler.yaml
  README.md
  app/__tests__/fixtures/index.ts
  app/__tests__/index.ts
  app/__tests__/mocks/index.ts
  app/domains/user.test.ts
  app/domains/user.ts
  app/repositories/_repositoryBase.ts
  app/repositories/user.test.ts
  app/repositories/user.ts
  app/routes/index/index.tsx
  db/seed.ts
  lefthook.yml
  package.json
  tsconfig.json
  vite.config.ts
Due: typecheck, lint-and-format

Improve abs file path
  app/__tests__/fixtures/index.ts
  app/__tests__/mocks/index.ts
  app/domains/user.test.ts
  app/domains/user.ts
  app/repositories/user.test.ts
  app/repositories/user.ts
  app/routes/index/index.tsx
  db/seed.ts
  tsconfig.json
  vite.config.ts
Due: typecheck, lint-and-format

test showing image
  app/routes/index/index.tsx
  public/static/images/ssl.jpg
  public/static/images/ssl2.jpg
  public/static/images/ssl3.jpg
Due: typecheck, lint-and-format

test public css
  vite.config.ts
Due: typecheck, lint-and-format

test public css 2
  app/routes/_renderer.tsx
Due: typecheck, lint-and-format

fix
  app/routes/_renderer.tsx
Due: typecheck, lint-and-format

fix css path
  app/routes/_renderer.tsx
Due: typecheck, lint-and-format

Update readme
  README.md
Due: none

Convert local DB from sqlite to D1
  .dev.vars.example
  .env.example
  README.md
  app/routes/index/index.tsx
  db/seed.ts
  drizzle.config.ts
  package.json
  vite.config.ts
Due: typecheck, lint-and-format

Update Setup
  README.md
  package.json
  wrangler.toml.example
Due: lint-and-format

Update Readme
  README.md
Due: none

Remove better-sqlite3
  package.json
Due: lint-and-format

wip
  .dev.vars.example
  app/domains/user.ts
  app/services/auth.ts
  bun.lockb
Due: typecheck, lint-and-format

install
  bun.lockb
Due: none

Redo env implement
  .env.example
  README.md
  app/routes/index/index.tsx
  bun.lockb
  db/seed.ts
  drizzle.config.ts
  package.json
  vite.config.ts
Due: typecheck, lint-and-format

tmp
  app/global.d.ts
  app/routes/auth/index.tsx
  app/routes/index/index.tsx
  app/routes/premium/index.tsx
  app/services/auth.ts
  biome.json
  bun.lockb
  package.json
Due: typecheck, lint-and-format

wip
  app/routes/_renderer.tsx
  app/routes/auth/index.tsx
  app/services/auth.ts
  bun.lockb
  vite.config.ts
Due: typecheck, lint-and-format

get token and get tokeninfo
  app/routes/auth/index.tsx
  app/routes/index/index.tsx
  app/services/auth.ts
  biome.json
  bun.lockb
  package.json
  vite.config.ts
Due: typecheck, lint-and-format

fmt
  app/routes/_404.tsx
  app/routes/premium/index.tsx
Due: typecheck, lint-and-format

wip
  app/__tests__/fixtures/index.ts
  app/__tests__/mocks/index.ts
  app/domains/user.test.ts
  app/domains/user.ts
  app/global.d.ts
  app/middlewares/auth.ts
  app/repositories/user.test.ts
  app/repositories/user.ts
  app/routes/index/index.tsx
  app/services/auth.ts
  bun.lockb
  db/migrations/0001_futuristic_liz_osborn.sql
  db/migrations/meta/0001_snapshot.json
  db/migrations/meta/_journal.json
  db/schemas/index.ts
  package.json
Due: typecheck, lint-and-format

wip
  app/__tests__/mocks/index.ts
  app/domains/user.test.ts
  app/repositories/user.test.ts
  app/repositories/user.ts
  bun.lockb
Due: typecheck, lint-and-format

implement login
  README.md
  app/domains/user.test.ts
  app/domains/user.ts
  app/middlewares/auth.ts
  app/repositories/user.ts
  app/routes/auth/index.tsx
  app/routes/index/index.tsx
  app/routes/premium/index.tsx
  public/static/images/ssl2.jpg
  public/static/images/ssl3.jpg
  vite.config.ts
Due: typecheck, lint-and-format

set cookie key type
  app/global.d.ts
  app/middlewares/auth.ts
  app/routes/_error.tsx
  app/routes/_renderer.tsx
  app/routes/index.template.tsx
  app/routes/index.tsx
  bun.lockb
  package.json
  tsconfig.json
Due: typecheck, lint-and-format

set vite
  vite.config.ts
Due: typecheck, lint-and-format

wip
  bun.lockb
  package.json
  vite.config.ts
Due: typecheck, lint-and-format

temp
  app/middlewares/auth.ts
Due: typecheck, lint-and-format

temp
  vite.config.ts
Due: typecheck, lint-and-format

wip
  app/middlewares/auth.ts
  vite.config.ts
Due: typecheck, lint-and-format

wip
  vite.config.ts
Due: typecheck, lint-and-format

fix google auth for cloudflare
  app/middlewares/auth.ts
  bun.lockb
  package.json
  vite.config.ts
Due: typecheck, lint-and-format
